<!-- This page display all the items present in the system -->

<%require "xmlrpc/client"%>
<% if user_signed_in? %>
    <% if current_user.is_seller? %>
        <a class="btn primary large offer-item" href='<%= new_item_path %>'>Offer your item for bidding »</a>
    <% else %>
        <a class="btn primary large offer-item" href='/users/sign_out'>Register as a seller to offer your item »</a>
        <!--ACTION ITEM: user should be redirected to seller register with is_seller already checked-in-->
    <% end %>
<% else %>
    <a class="btn primary large offer-item" href='/users/sign_in'>Login to offer your item »</a>
<% end %>

<!-- Save parent IP in the database -->
<% myip = params['parent'] %>
<% mydb = Ipaddress.new %>
<% mydb.ipaddress = myip%>
<% mydb.iptype = 'parent' %>
<% mydb.save %>

<!-- SEARCH BAR -->
<%= form_tag items_path, :method => 'get' do %>
  <p>
  <%#= text_field_tag :search, params[:search] %>
<%#= submit_tag "Search", :name => nil %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "btn primary small" %>
    <%= link_to "Advanced Search", advsearch_path %>

  </p>
<% end %>

<script>
    $(function() {
        var availableTags = [
        <%Item.all.each do |i|%>
            "<%= i.title %>",
        <%end%>

        ];
        $( "#search" ).autocomplete({
            source: availableTags
        });
    });
</script>
