<!-- This page display all the items present in the system -->
<%require "xmlrpc/client"%>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/
libs/jquery/1.3.0/jquery.min.js"></script>
<script type="text/javascript">
var auto_refresh = setInterval(
function ()
{
$('#dataDisplay').load("/table");
}, 2000); // refresh every 10000 milliseconds
</script>
<% @mydat = Mydata.first %>

<!-- Save parent IP in the database -->

<!-- SEARCH BAR -->
<% if @mydat != nil %>
<% if @mydat.is_seller? %>
<%else%>
<%= form_tag items_path, :method => 'get' do %>
  <p>
  <%#= text_field_tag :search, params[:search] %>
<%#= submit_tag "Search", :name => nil %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "btn primary small" %>
    <%= link_to "Advanced Search", advsearch_path %>

  </p>
<%end%>
<% end %>
<%end%>
<h1>Category: <%= cookies[:CURRCATEGORY] %> </h1>
<% if @mydat != nil %>
<% if @mydat.is_seller? %>
<p> Category joined successfully. </p>
<% else %>
<div id="dataDisplay">
</div>
<%end%>
<%end%>
<script>
    $(function() {
        var availableTags = [
        <%Item.all.each do |i|%>
            "<%= i.title %>",
        <%end%>

        ];
        $( "#search" ).autocomplete({
            source: availableTags
        });
    });
</script>
