<!-- This page display all the items present in the system -->
<META HTTP-EQUIV=Refresh CONTENT="5; URL=http://localhost:3000/items?results=<%= cookies[:CURRCATEGORY %>">
<%require "xmlrpc/client"%>
<% if user_signed_in? %>
    <% if current_user.is_seller? %>
        <a class="btn primary large offer-item" href='<%= new_item_path %>'>Offer your item for bidding »</a>
    <% else %>
        <a class="btn primary large offer-item" href='/users/sign_out'>Register as a seller to offer your item »</a>
        <!--ACTION ITEM: user should be redirected to seller register with is_seller already checked-in-->
    <% end %>
<% else %>
    <a class="btn primary large offer-item" href='/users/sign_in'>Login to offer your item »</a>
<% end %>

<!-- Save parent IP in the database -->

<!-- SEARCH BAR -->
<%= form_tag items_path, :method => 'get' do %>
  <p>
  <%#= text_field_tag :search, params[:search] %>
<%#= submit_tag "Search", :name => nil %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "btn primary small" %>
    <%= link_to "Advanced Search", advsearch_path %>

  </p>
<% end %>
<h1> You are currently searching in the category : <%= cookies[:CURRCATEGORY] %> </h1>
<% if @sellervalue != nil %>
This is from the immediate seller <%= @sellervalue["value"] %>
<%end%>

<h2> Here are your search results </h2>
<table>
  <tr>
    <th>Search String</th>
    <th>Category</th>
    <th>Seller Ip address</th>
  </tr>
<% @is_present = Searchresults.where("category = :ct", {:ct => cookies[:CURRCATEGORY]})%>
<% @is_present.each do |item| %>

  <tr>
    <td><%= item.search_string %></td>
    <td><%= item.category %></td>
    <td><%= item.ipaddress %></td>
  </tr>
<%end%>
</table>

<script>
    $(function() {
        var availableTags = [
        <%Item.all.each do |i|%>
            "<%= i.title %>",
        <%end%>

        ];
        $( "#search" ).autocomplete({
            source: availableTags
        });
    });
</script>
