<!-- This page display all the items present in the system -->
<%require "xmlrpc/client"%>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/
libs/jquery/1.3.0/jquery.min.js"></script>
<script type="text/javascript">
var auto_refresh = setInterval(
function ()
{
$('#dataDisplay').load("/table");
}, 20000); // refresh every 10000 milliseconds
</script>

<% if user_signed_in? %>
    <% if current_user.is_seller? %>
        <a class="btn primary large offer-item" href='<%= new_item_path %>'>Offer your item for bidding »</a>
    <% else %>
        <a class="btn primary large offer-item" href='/users/sign_out'>Register as a seller to offer your item »</a>
        <!--ACTION ITEM: user should be redirected to seller register with is_seller already checked-in-->
    <% end %>
<% else %>
    <a class="btn primary large offer-item" href='/users/sign_in'>Login to offer your item »</a>
<% end %>

<!-- Save parent IP in the database -->

<!-- SEARCH BAR -->
<%= form_tag items_path, :method => 'get' do %>
  <p>
  <%#= text_field_tag :search, params[:search] %>
<%#= submit_tag "Search", :name => nil %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "btn primary small" %>
    <%= link_to "Advanced Search", advsearch_path %>

  </p>
<% end %>
<h1>Category: <%= cookies[:CURRCATEGORY] %> </h1>

<div id="dataDisplay">
</div>

<script>
    $(function() {
        var availableTags = [
        <%Item.all.each do |i|%>
            "<%= i.title %>",
        <%end%>

        ];
        $( "#search" ).autocomplete({
            source: availableTags
        });
    });
</script>
