<h3><%= @item.returned_string %></h3>
<% if params[:id] != nil %>
	<% if params[:amount] != nil %>
		<% ip_address = Mydata.first.localaddress %>
                <% @sellerip = Searchresults.where("id = ?", params[:id]).first %>
                <% @server1 = XMLRPC::Client.new(@sellerip.ipaddress, "/api/xmlrpc", 3000) %>
                <% @result = @server1.call("Container.placeBid", @sellerip.returned_string, @sellerip.category, params[:amount], ip_address) %>
                <% if @result["value"] == "success" %>
                        <p><b> Bid of <%= params[:amount] %> placed <b></p>
                                    <% @iteminfo["highbid"] =  params[:amount] %>
                <% else %>
                        <p><b> Error placing bid. <%= @result["value"] %> </b></p>
         
                <% end %>
                  
	<%end %>
<%end%>


<table>
 <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Starting Price</th>
    <th>Auction Expires</th>
    <th>Highest Bid</th>
    <th> Photo </th>
  </tr>
<tr>
	<td> <%= @item.returned_string %> </td>
	<td> <%= @iteminfo["description"] %> </td>
	<td> <%= @iteminfo["startprice"] %> </td>
	<td> <%= @iteminfo["expires"] %> </td>
        
	<td> <%= @iteminfo["highbid"] %> </td>
        <td> <%= image_tag @item["image"] %> </td>

</tr>

<%= form_tag(:method => "get")  do %>
	<%= label_tag(:amount, "Bid Amount:") %>
	<%= text_field_tag(:amount) %>
	<%#= hidden_field_tag(:item_id,  @iteminfo["id"] ) %> 	
<%end%>

</table>

