<h3><%= @item.returned_string %></h3>
<% if params[:id] != nil %>
	<% if params[:amount] != nil %>
		<% ip_address = Mydata.first.localaddress %>
                <% @sellerip = Searchresults.where("id = ?", params[:id]).first %>
                <% @server1 = XMLRPC::Client.new(@sellerip.ipaddress, "/api/xmlrpc", 3000) %>
                <% @result = @server1.call("Container.placeBid", @sellerip.returned_string, @sellerip.category, params[:amount], ip_address) %>
                <% if @result["value"] == "success" %>
                        <p><b> Bid of <%= params[:amount] %> placed <b></p>
                                    <% @iteminfo["highbid"] =  params[:amount] %>
                <% else %>
                        <p><b> Error placing bid. <%= @result["value"] %> </b></p>
         
                <% end %>
                  
	<%end %>
<%end%>




<div class="item-show-container">

	<div class="item-image">
        <% @sellip = Searchresults.where("id = ?", params[:id]).first %>
        <img src="http://<%=@sellip.ipaddress%>:3000<%= @iteminfo["image"] %>" height="350" width="350"/>
        </div>

        <br/><br /><br /><br /> <br/> <br /> <br /> <br /><br/><br /><br /><br /> <br/> <br /> <br /> <br /><br/><br /><br /><br /> <br/> <br />

        <div class ="item-details">
		<p>

			<b>Description:</b>

			<%= @iteminfo["description"] %>

		</p>

		<p>

			<b>Starting price:</b>

			<%= @iteminfo["startprice"] %>

		</p>

		<p id="current-price">

			<b>Highes Bid</b>

                        <%= @iteminfo["highbid"] %>                         
		</p>

		<p id="expires-at">

			<b>Expires at:</b> <%= @iteminfo["expires"] %>

		</p>

        </div>


<%= form_tag(:method => "get")  do %>
	<%= label_tag(:amount, "Bid Amount:") %>
	<%= text_field_tag(:amount) %>
        <%= submit_tag "Submit", :type => 'button', :class => "btn primary medium" %>
<%end%>

</div>

