<h3><%= @item.returned_string %></h3>
<% if params[:item_id] != nil %>
	<% if params[:amount] != nil %>
		<% ip_address = Mydata.first.localaddress %>
		<% @server1 = XMLRPC::Client.new(@successor, "/api/xmlrpc", 3000) %>
        	<% @result = @server1.call("Container.placeBid", params[:item_id] , params[:amount], ip_address) %>
		<% if @result["value"] == "success" %>
			<p><b> Bid of <%= params[:amount] %> placed <b></p> 
		<% else %>
			<p><b> Error placing bid. <%= @result["value"] %> </b></p>
			<%= @iteminfo["highbid"] = @result["amount"] %>
		<% end %>
	<%end %>
<%end%>


<table>
 <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Starting Price</th>
    <th>Auction Expires</th>
    <th>Highest Bid</th>
  </tr>
<tr>
	<td> <%= @item.returned_string %> </td>
	<td> <%= @iteminfo["description"] %> </td>
	<td> <%= @iteminfo["startprice"] %> </td>
	<td> <%= @iteminfo["expires"] %> </td>
	<td> <%= @iteminfo["highbid"] %> </td>

</tr>

<%= form_tag do %>
	<%= label_tag(:amount, "Bid Amount:") %>
	<%= text_field_tag(:amount) %>
	<%= hidden_field_tag(:item_id,  @iteminfo["id"] ) %> 	
<%end%>

</table>

