<% if admin_signed_in? %>
<h1>Listing Users</h1>

<table>
  <tr>
    <th>first_name</th>
    <th>last_name</th>
    <th>dob</th>
    <th>street</th>
    <th>city</th>
    <th>zip</th>
    <th>state</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.dob %></td>
    <td><%= user.street %></td>
    <td><%= user.city %></td>
    <td><%= user.zip %></td>
    <td><%= user.state %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_registration_path %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<% else %>
    <p>Please sign-in before you can access admin home page</p>
<% end %>
