

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" style="width: 100%; padding-left: 20px">
     <div class="span10">
      <h4>Payment Information</h4>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :card_number %><br />
        <%= f.text_field :card_number %>
      </div>
      <div class="field">
        <%= f.label :card_type %><br />
        <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
      </div>
      <div class="field">
        <%= f.label :card_expires_on %><br />
        <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
      </div>
      <div class="field">
        <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
        <%= f.text_field :card_verification %>
      </div>      <br/>

       </div>

     <div class="span6" style="width: 400px;">

      <h4>Billing Address</h4>
      <div class="field">
        <%= f.label :street %><br />
        <%= f.text_field :street, :value => current_user.street%>
      </div>
      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city, :value => current_user.city %>
      </div>
      <div class="field">
        <%= f.label :state %><br />
        <%= f.text_field :state, :value => current_user.state %>
      </div>

      <div class="field">
        <%= f.label :zip %><br />
        <%= f.text_field :zip, :value => current_user.zip %>
      </div>

      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, :value => current_user.phone %>
      </div>
      <div class="field">
        <%= f.label :country %><br />
        <%= f.text_field :country, :value => current_user.country %>
      </div>

      <div class="actions">
        <%= f.submit "Proceed to Checkout",:class => "btn primary medium", :cart_id => @cart.id %>
      </div>

     </div>
  </div>

<% end %>
