

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <h1>Payment Information</h1>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :card_number %><br />
        <%= f.text_field :card_number %>
      </div>
      <div class="field">
        <%= f.label :card_type %><br />
        <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
      </div>
      <div class="field">
        <%= f.label :card_expires_on %><br />
        <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
      </div>
      <div class="field">
        <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
        <%= f.text_field :card_verification %>
      </div>      </br>

      <h1>Billing Information</h1>
      <div class="field">
        <%= f.label :street %><br />
        <%= f.text_field :street, :value => current_user.street%>
      </div>
      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city, :value => current_user.city %>
      </div>
      <div class="field">
        <%= f.label :state %><br />
        <%= f.text_field :state, :value => current_user.state %>
      </div>

      <div class="field">
        <%= f.label :zip %><br />
        <%= f.text_field :zip, :value => current_user.zip %>
      </div>

      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, :value => current_user.phone %>
      </div>
      <div class="field">
        <%= f.label :country %><br />
        <%= f.text_field :country, :value => current_user.country %>
      </div>

      <div class="actions">
        <%= f.submit "Proceed to Checkout",:class => "btn primary medium", :item_id => params[:id]%>
      </div>

<% end %>
