
<% form_tag items_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>

<% end %>



<% if user_signed_in? %>

  <div class="hero-unit1">
     <h2>Welcome, <%= current_user.first_name%> !</h2>
   <% if current_user.is_seller? %>
    <p>Browse Items, Offer Item and mint money in minutes </p>
    <a class="btn primary large" href='<%=new_item_path%>'>Offer Your Item »</a>
    <a class="btn primary large" href='<%=items_path%>'>All Items »</a>
   <% else %>
    <p>Shop, Bid and Celebrate!!</p>
    <a class="btn primary large" href='<%=items_path%>'>Hot Items »</a>
   <%end%>
    </div>
<% else %>
    <div class="container">
      <div class="hero-unit">
        <!--<h1>BestBay!</h1>-->
      </div>
    </div>
<% end %>

<!-- Example row of columns -->
  <hr>
<div class="row">
 <% @items.each_with_index do |item,i| %>

   <div class="home-item-desc span6">
    <h2 class ="heading"><%= item.title %></h2>

    <%= image_tag item.photo.url(:small)  %>

    <p><%= item.description %></p>
    <%= link_to 'View Details', item ,:class=> 'btn' %>
   </div>
 <% end %>
</div>
<hr>
