<% if user_signed_in? %>
    <div class="container">
      <div class="hero-unit1">
        <h2>Welcome back!</h2>
        <p>Check out the today's hot deals below or Put your item up for sale</p>
        <a class="btn primary large" href='<%=new_item_path%>'>Offer Your Item »</a>
        <a class="btn primary large" href='<%=items_path%>'>Hot Items »</a>
      </div>
    </div>
<% else %>
    <div class="container">
      <div class="hero-unit">
        <!--<h1>BestBay!</h1>-->
      </div>
    </div>
<% end %>

<!-- Example row of columns -->
  <hr>
<div class="row">
 <% @items.each_with_index do |item,i| %>

   <div class="home-item-desc span6">
    <h2 class ="heading"><%= item.title %></h2>

    <p><%= item.description %></p>
    <%= link_to 'View Details', item ,:class=> 'btn' %>
   </div>
 <% end %>
</div>
<hr>
