<style type="text/css">
#galleria			{float:left;}
#user_notification   {float:left; margin-left: 50px; }
#ajax_description   {float:left; margin-left: 70px; }
</style>
<script src="galleria/galleria-1.2.5.min.js"></script>

<%= form_tag items_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
            <%= link_to "Advanced Search", advsearch_path %>
          </p>

<% end %>
<!-- Lively Homepage images-->
<div id="galleria"></div>
<div id ="ajax_description"><a href="#"></a></div>

<script>
var data = [
        <% @items.each do |item| %>
    {
        thumb: '<%= item.photo.url(:small) %>',
        image: '<%= item.photo.url(:large) %>',
        //description: 'item',
        //link: '/items/<%#=item.id%>',
        layer: '<div><a href="/items/<%=item.id%>"><h2><u><%= item.title%></u></h2></a><p>Expires at: <%= item.expires_at %></p></div>'

    },
        <%end%>
];


<!-- This page is the home page of the site. It displays some of the items present in the system and categories-->

        Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');


        $("#galleria").galleria({
          width: 500,
          height: 500,
          autoplay: 3000,
          showInfo: false,
          dataSource: data
        });


<!-- for the next iteration WJ : making ajax page-->
//        $("#galleria").mouseover(function(){
//           var item_image = this.getElementsByClassName('active')[0].getElementsByTagName('img')[0];
//            var file = item_image.src.substr(item_image.src.lastIndexOf('/')+1);
//            var filename = file.substr(0,file.indexOf('?')) ;
            //alert(filename);
            //var item_clicked = select * from items where photo_file_name='filename'

            //alert(item_clicked.id);
//            $('#ajax_description').load('./items/1 #ajax_group');
//           return false;
//        });


</script>
<!-- Lively Homepage images-->
<div id ="user_notification">
<% if user_signed_in? %>

    <div class="hero-unit1">
      <h2>Welcome, <%= current_user.first_name %> !</h2>
      <% if current_user.is_seller? %>
          <p>Browse Items, Offer Item and mint money in minutes </p>
          <a class="btn primary large" href='<%= new_item_path %>'>Offer Your Item »</a>
          <a class="btn primary large" href='<%= items_path %>'>All Items »</a>
      <% else %>
          <p>Shop, Bid and Celebrate!!</p>
          <a class="btn primary large" href='<%= items_path %>'>Hot Items »</a>
      <% end %>
    </div>

  <!-- show user his/her notifications -->
  <div class="notifications" id="notifications">
  <%= render current_user.notifications %>
  </div>

<% else %>
  <!--    <div class="container">    -->
  <!--      <div class="hero-unit">   -->
        <div class="">
          <!--<h1>BestBay!</h1>-->
        </div>
  <!--      </div>                   -->
  <!--    </div>                     -->
<% end %>
</div>


<!-- row of items -->
<hr>
<div class="row">
  <% @items.each_with_index do |item, i| %>
      <div class="home-item-desc span6">
        <h2 class="heading"><%= item.title %></h2>

        <%= image_tag item.photo.url(:small) %>

        <p><%= item.description %></p>
        <%= link_to 'View Details', item, :class=> 'btn' %>
      </div>
  <% end %>
</div>


<hr>
