<!-- The contact us page of the system  -->
<h2 style="padding-left: 20px">My BestBay</h2>
<h4 style="padding-left: 34px"> This is YOUR page. You can monitor all your favorite items here :-)</h4>
<script>
	$(function() {
		$("#tabs").tabs();
	});

</script>
<div class="demo" style="height: 100%;">
	<div id="tabs">
		<ul>
			<li>
				<a href="#tabs-1">My watchlist items</a>
			</li>
			<% if current_user.is_seller != true %>
			<li>
				<a href="#tabs-2">Items I have won</a>
			</li>
			<%end%>
		</ul>
		<div id="tabs-1">
			<div>
				<% @watch_item_records = Watchlist.find_all_by_user_id(current_user.id) %>
				<table>
					<tr>
						<th>Item image</th>
						<th>Item Name</th>
						<th>Starting price</th>
						<th>Current Price</th>
						<th>Number of Bids</th>
						<th>Expires at</th>
					</tr>
					<% @watch_item_records.each_with_index do |watch, i| %>
					<% @item = Item.find(watch.item_id) %>
					<tr>
						<td><%= image_tag @item.photo.url(:small) %></td>
						<td><%= @item.title%></td>
						<td><%= number_to_currency(@item.starting_price, :unit =>"$") %></td>
						<% @highest_bid_row = @item.bidding.find(:first, :order => 'bid_amount DESC') %> <td><span class="current-price-value"> <% if @highest_bid_row %>
							<%= number_to_currency(@highest_bid_row.bid_amount, :unit=>"$")%>
							<% else %>
							<%= number_to_currency(@item.starting_price, :unit=>"$")%>
							<% end %> </span></td>
						<td><%= @item.bidding.count%></td>
						<td><span class="current-price-value"><%= @item.expires_at.to_formatted_s(:db)%></span></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
		<% if current_user.is_seller != true %>
		<div id="tabs-2">
			<div>
				<p>
					Congratulations !! You have won the following items.
				</p>
				<% @unpaid_items = Item.find(:all, :conditions => ["is_paid != ?", true]) %>
				<% @unpaid_items.each do |item| %>
				<% @itemNote = Notification.find(:first, :conditions => ["notification_type=? AND item_id=?" , "W",item.id ]) %>

				<% if @itemNote && @itemNote.user_id == current_user.id %>
				<ul>
					<li>
						<%= item.title%> for <%= number_to_currency(item.bidding.find(:first, :order => 'bid_amount DESC').bid_amount, :unit=>"$") %>
					</li>
				</ul>
				<% end %>
				<% end %>
				<p>
					Now, You can pay for multiple items together :-)
				</p>
				<a class="btn primary large" href='<%= current_cart_url %>'>Pay Now »</a>
			</div>
			%
		</div>
		<%end%>
	</div>
</div>
