<h1>Listing category_members</h1>

<table>
  <tr>
    <th>Cname</th>
    <th>Ipaddr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_members.each do |category_member| %>
  <tr>
    <td><%= category_member.cname %></td>
    <td><%= category_member.ipAddr %></td>
    <td><%= link_to 'Show', category_member %></td>
    <td><%= link_to 'Edit', edit_category_member_path(category_member) %></td>
    <td><%= link_to 'Destroy', category_member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category member', new_category_member_path %>
