<p align='right'><% if logged_in? %>
Welcome <%= current_application.username %>. <%= link_to "Log out", logout_path %>
<% else %>
<%= link_to "Sign up", signup_path %> or
<%= link_to "Log in", login_path %>
<% end %></p>
<h1>Peer Exchange</h1>
<%= link_to "Home", "/" %>
<%= link_to "Category List", categories_path %>
<% if logged_in? %>
<%else%>
<%= link_to "User Registration", signup_path %>
<%end%>


<p><br>Already have an account? <%= link_to "Log in", login_path %>.</p>

<%= render 'form' %>
