<header>
  <%#= javascript_include_tag 'rails' %>
  <%#= javascript_include_tag :defaults %>

  <a class="brand" href="/">PeerBidz!</a>
  <ul class="nav">
    <li class="active"><%= link_to "Home", root_path %></li>
     <% @mydat = Mydata.first %>
	<% if @mydat != nil %>
	<% if @mydat.is_seller %>
            <li class="active"><%= link_to "Sold Items", "/carts/purchase" %></li>
            <li class="active"><%= link_to "Auction an Item", "/items/new" %></li>
    	<%else%>
            <li class="active"><%= link_to "My Cart", "/carts/purchase" %></li>
	<%end%>
	<% end %>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>

</header>

