<div style = "padding-left: 30px">
<p><b> Your item(s) will be shipped to the below address:</b></p>
<p>
  <b>Street:</b>
  <%= @order.street %>
</p>
<p>
  <b>City:</b>
  <%= @order.city %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @order.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @order.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @order.phone %>
</p>

<!-- make true for is_paid in the item table -->
<% @lineitems = LineItem.find(:all)%>

        <% @lineitems.each do |item| %>
          <% @unpaid_item = Item.find(item.item_id)%>
          <% @unpaid_item.toggle!(:is_paid) %>
    <%  LineItem.delete(item.id) %>
        <% end %>


<p><%= button_to "Thank you! Go Home", root_path, :class => "btn primary large" %></p>

</div>