<h1>Listing searches</h1>

<table>
  <tr>
    <th>Keywords</th>
    <th>Category</th>
    <th>Minimum price</th>
    <th>Maximum price</th>
    <th>Seller's Email</th>
    <th>Ending time</th>
    <th>Condition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.keywords %></td>
    <td><%= search.category_id %></td>
    <td><%= search.minimum_price %></td>
    <td><%= search.maximum_price %></td>
    <td><%= search.seller_email %></td>
    <td><%= search.ending_time %></td>
    <td><%if search.condition?%>
            New
        <%else%>
            Used
        <%end%></td>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
