<%= form_for @item, :html => { :multipart => true } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :condition %><br />
    <%= f.select :condition, [['New','new'] , ['Used', 'used']]%>
  </div>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>

  </div>

  <div class="field">
    <%= f.label :starting_price %><br />
    <%= f.text_field :starting_price %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select :category_id, [['Currently Listed','current']]%>
  </div>
  <div class="field">
    <%= f.label :seller_id %><br />
    <%= f.text_field :seller_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
