<!--<h1>Listing items</h1>-->

<% if user_signed_in? %>
 <%if current_user.is_seller? %>
  <a class="btn primary large offer-item" href='<%=new_item_path%>'>Offer your item for bidding »</a>
 <% else %>
  <a class="btn primary large offer-item" href='/users/sign_out'>Register as a seller to offer your item »</a>
        <!--ACTION ITEM: user should be redirected to seller register with is_seller already checked-in-->
  <% end %>
<% else %>
    <a class="btn primary large offer-item" href='/users/sign_in'>Login to offer your item »</a>
 <% end %>

<%#= @values %>
<!--
<%# form_tag items_path, :method => 'get' do %>
  <p>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "Search", :name => nil %>
  </p>
<%# end %>
for the later usage (search fn)-->
<table>
  <tr>
    <th>Title</th>
    <th>Photo</th>
    <th>Description</th>
    <th>Condition</th>
    <th>Starting price</th>
    <!--<th>Duration</th>-->
    <th>Category</th>
    <th>Seller</th>
    <th></th>
    <% if user_signed_in? %>
        <%if current_user.is_seller? %>
                <th></th>
                <th></th>
        <% end %>
    <%end%>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.title %></td>
    <td><%= link_to (image_tag (item.photo.url(:small)), :action => 'show', :controller => 'items'), item %></td>
    <td><%= item.description %></td>
    <td><%if item.condition?%>
            New
        <%else%>
            Used
        <%end%>
    </td>
    <td><%= item.starting_price %></td>
    <!--<td><%#= item.duration %></td>         -->

    <td><%= Category.find(item.category_id).name %></td>
    <td><%= User.find(item.seller_id).email %></td>

    <% if user_signed_in? %>
        <td><%= link_to 'Show & Start Bid', item %></td>
        <!-- WJ need admin role -->
        <%if current_user.is_seller? %>
            <%if current_user== User.find(item.seller_id) %>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
            <% end%>
        <% end %>
    <%else%>
    <td><%= link_to 'Show', item %></td>
    <% end %>
  </tr>
<% end %>
</table>



