<p id="top"></p>
<h3><%= @item.title %></h3>
<% if DateTime.now.to_formatted_s(:db) >= @item.expires_at.to_formatted_s(:db) %>
    <span class="label important">Expired</span>
<% elsif Watchlist.find_by_user_id_and_item_id(current_user.id, @item.id) != nil %>
    <%= button_to "Remove from watchlist" , remove_from_watch_list_item_path(@item), :class => "btn primary medium" %>
 <% else %>
    <%= button_to "Add to watchlist" , add_to_watch_list_item_path(@item), :class => "btn primary medium" %>
<% end %>

<div class="item-show-container">
<div class="item-image">
<%= image_tag @item.photo.url(:medium)  %>
</div>

<div class ="item-details">
<p>
  <b>Description:</b>
  <%= @item.description %>
</p>
<p>
  <b>Condition: </b>
  <%if @item.condition?%>
    New
  <%else%>
    Used
  <%end%>
</p>
<p>
  <b>Starting price:</b>
  <%= number_to_currency(@item.starting_price, :unit=>"$") %>
</p>


<p id="current-price">
  <b>Current price:</b>
  <span id ="current-price-value"><% if @highest_bid != nil %>
  <%= number_to_currency(@highest_bid.bid_amount,:unit=>"$")%>
  <% else %>
  <%= number_to_currency(@item.starting_price,:unit=>"$")%>
  <% end %></span>
</p>

<p id="expires-at">
  <b>Expires at:</b> <%=  @item.expires_at.to_formatted_s(:db) %>
   <div id="counter"></div>
      <div class="desc">
        <div>Days</div>
        <div>Hours</div>
        <div>Minutes</div>
        <div>Seconds</div>
      </div>
</p>

<!-- <p>
  <b>Duration:</b>
  <%#= @item.duration %>
</p> -->
<p>
  <b>Category:</b>
  <%= Category.find(@item.category_id).name %>
</p>
<p>
  <b>Seller:</b>
  <%= User.find(@item.seller_id).email %>
</p>


<% if user_signed_in? && current_user.is_seller? && current_user.id == @item.seller_id%>
<%= link_to 'Edit', edit_item_path(@item) %> 
<% end %>

<% if user_signed_in? && @item.seller_id != current_user.id%>
     <% if DateTime.now.to_formatted_s(:db) < @item.expires_at.to_formatted_s(:db) %>
  <%= render :template => 'biddings/new', :locals => {:bidding => @bidding, :item => @item } %>
     <% end %>
<% end %>


</div>
</div>

  <script type="text/javascript">
      $(function(){
        $('#counter').countdown({
          image: '/img/digits.png',
            //<%#expiry = DateTime.now - @item.expires_at%>
            // startTime: '<%#=expiry.day%>:<%#=expiry.hours%>:<%#=expiry.minutes%>:<%#=expiry.seconds%>'
          startTime: '01:12:12:00'
        });
      });
    </script>
    <style type="text/css">
      br { clear: both; }
      .cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #000;
      }
      .desc { margin: 7px 3px; }
      .desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
        font-size: 13px;
        font-weight: bold;
        color: #000;
      }
  </style>