<p id="notice"><%= notice %></p>

<%= image_tag @item.photo.url(:large)  %>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Condition: </b>
  <%if @item.condition?%>
    New
  <%else%>
    Used
  <%end%>
</p>

<p>
  <b>Starting price:</b>
  <%= @item.starting_price %>
</p>

<p>
  <b>Current price: </b>
  <%= @item.bidvalue %>
</p>

<p>
  <b>Highest bidder: </b>
  <%= User.find(@item.biduser).email %>
</p>


<!-- <p>
  <b>Duration:</b>
  <%#= @item.duration %>
</p> -->

<p>
  <b>Category:</b>
  <%= Category.find(@item.category_id).name %>
</p>

<p>
  <b>Seller:</b>
  <!-- WJ need find out the way to assign seller_id when creating item -->
  <%= User.find(@item.seller_id).email %>
  <%#= current_user.email %>
</p>

<% if user_signed_in? && current_user.is_seller? && current_user.id == @item.seller_id%>
<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>

<%= link_to 'Back', items_path %>


<% if user_signed_in? %>
    <% if current_user.is_seller? %>

    <%else%>
        <%= form_for @item, :html => { :multipart => true } do |f| %>
        <div class="field">
            <br />
             <%= f.label "BidValue" %><br />
            <%= f.text_field :bidvalue %>
          </div>
         
          <%= f.hidden_field :biduser, :value => current_user.id %>

          <div class="actions">
            <%= f.submit "Place Bid"%>
          </div>
        <% end %>
    <% end %>
<% end %>

<!--<a class="btn primary large offer-item" href='<%#= item_path %>'>Place Bid »</a>-->