<p id="notice"><%= notice %></p>

<%= image_tag @item.photo.url(:large)  %>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Condition:</b>
  <%if @item.condition?%>
    <p>New</p>
  <%else%>
    <p>Used</p>
  <%end%>
</p>

<p>
  <b>Starting price:</b>
  <%= @item.starting_price %>
</p>

<!-- <p>
  <b>Duration:</b>
  <%#= @item.duration %>
</p> -->

<p>
  <b>Category:</b>
  <%= @item.category_id %>
</p>

<p>
  <b>Seller:</b>
  <%= @item.seller_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
