
<% @itemNote = Notification.where("notification_type='W'").all %>
<% if @itemNote != nil %>
<table id="line_items">
  <tr>
    <th>Auctions Won</th>

  </tr>

<% @itemNote.each do |item| %>
    <tr class="">
      <td><%= item.message %></td>
    </tr>
<% end %>
</table>
<%else%>
<tr>
<p><b>No auctions have been won at this time.</b></p>
</tr>
<%end%>

<p>
<% if @itemNote != nil %>
  <% if @itemNote.count > 0 %>
  <table>
	<tr>
	<th>Provide Shipping Information</th>
	</tr>
  <%= form_tag("/payment", :method => "get") do %>
  	<tr><td>
	<%= label_tag(:name, "Name") %>
  	</td><td>
	<%= text_field_tag(:name) %>
  	</td></tr>
  	<tr><td>
	<%= label_tag(:street, "Street") %>
  	</td><td>
  	<%= text_field_tag(:street) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:city, "City") %>
  	</td><td>
  	<%= text_field_tag(:city) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:state, "State") %>
  	</td><td>
  	<%= text_field_tag(:state) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:zip, "Zip") %>
  	</td><td>
  	<%= text_field_tag(:zip) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:country, "Country") %>
  	</td><td>
  	<%= text_field_tag(:country) %>
  	</td></tr>
  	<tr><td>
  	<%= submit_tag("Send Shipping Info") %>
  	</td></tr>
  <% end %>
  </table>  
  <% end %>
<%end%>
</p>
