<% @myDat = Mydata.first %>
<% @itemNoShipInfo = Notification.where("notification_type='W'").all %>
<% if @myDat.is_seller? %>
<% @itemNote = Notification.where("notification_type='S'").all %>
<% @itemNoShipInfo = nil %>
<%else%>
<% @itemNote = Notification.where("notification_type='W'").all %>
<%end%>
<% if @itemNote != nil %>
<table id="line_items">
  <tr>
    <% if @myDat.is_seller? %>
    	<th>Items Sold</th>
    <%else %>
    	<th>Auctions Won</th>
    <%end%>

  </tr>

<% @itemNote.each do |item| %>
    <tr class="">
      <td><%= item.message %></td>
    </tr>
<% end %>
</table>
<%else%>
<tr>
<p><b>No auctions have been won at this time.</b></p>
</tr>
<%end%>
<% if @myDat.is_seller? %>
<% @bitcoin = Notification.where("notification_type = 'P'").all %>
<% if @bitcoin != nil %>
<table>
<tr>
<th>
Provide Bitcoin Address
</th>
</tr>
<% @bitcoin.each do |sendpay| %>
<tr>
<td> <%= sendpay.message %> </td>
<td> 
  <%= form_tag("/payment", :method => "get") do %>
	<%= label_tag(:bitcoin, "Bitcoin Address:") %>
	<%= text_field_tag(:bitcoin) %>
	<%= hidden_field_tag(:itemid, sendpay.item_id) %>
  	<%= submit_tag("Send Payment Info") %>
  <% end %>
</td>
</tr>
<%end%>
</table>
<%end%>
<%end%>

<p>
<% if @itemNoShipInfo != nil %>
  <% if @itemNoShipInfo.count > 0 %>
  <table>
	<tr>
	<th>Provide Shipping Information</th>
	</tr>
  <%= form_tag("/payment", :method => "get") do %>
  	<tr><td>
	<%= label_tag(:name, "Name") %>
  	</td><td>
	<%= text_field_tag(:name) %>
  	</td></tr>
  	<tr><td>
	<%= label_tag(:street, "Street") %>
  	</td><td>
  	<%= text_field_tag(:street) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:city, "City") %>
  	</td><td>
  	<%= text_field_tag(:city) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:state, "State") %>
  	</td><td>
  	<%= text_field_tag(:state) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:zip, "Zip") %>
  	</td><td>
  	<%= text_field_tag(:zip) %>
  	</td></tr>
  	<tr><td>
  	<%= label_tag(:country, "Country") %>
  	</td><td>
  	<%= text_field_tag(:country) %>
  	</td></tr>
  	<tr><td>
  	<%= submit_tag("Send Shipping Info") %>
  	</td></tr>
  <% end %>
  </table>  
  <% end %>
<%end%>
</p>
<% if @myDat.is_seller? %>
<%else%>
	<% @mybits = Bitcoin.all %>
	<% if @mybits != nil %>
		<table>
		<tr>
			<th> Pay for Items </th>
		</tr>
		<% @mybits.each do |bit| %>
			<% @bitNote = Notification.where("item_id =?", bit.itemid).first %>
			<tr>
			<td>Message: <%=@bitNote.message%></td>
			<td>Bitcoin Address: <%= bit.address %></td>
			<td><%= form_tag("/payment", :method => "get") do %><%= hidden_field_tag(:delBitcoin, bit.itemid) %><%= submit_tag("Mark as Paid") %><%end%></td>
			</tr>
		<%end%>
		</table>
	<%end%>
<%end%>
