<h4>Add items to your cart</h4>


<% @unpaid_items = Item.find(:all, :conditions => ["is_paid != ?", true]) %>
<% @unpaid_items.each do |item| %>
    <% @itemNote = Notification.find(:first, :conditions => ["notification_type=? AND item_id=?" , "W",item.id ]) %>

      <% if @itemNote && @itemNote.user_id == current_user.id %>

          <div class="row" style="height: 70px;">
            <div class="span1">
                   <%= item.title %>
            </div>
            <div class="span15">
                   <%= link_to "Add", line_items_path(:item_id => @itemNote.item_id), :method => :post, :class => "btn primary medium" %>
            </div>
          </div>

      <% end %>
<% end %>


  <h4>Your cart</h4>

<table id="line_items">
  <tr>
    <th>Product</th>

    <th class="price">Final Price</th>
  </tr>

  <% for line_item in @cart.line_items %>
    <tr class="">
      <td><%=h line_item.item.title %></td>

      <td class="price"><%= number_to_currency(line_item.full_price) %></td>
      <td><%= button_to 'Remove from cart', line_item, :method => :delete, :class => "btn medium primary" %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency @cart.total_price %>
    </td>
  </tr>
</table>

<p>
  <% if @cart.total_price != 0 %>
    <%= link_to "Pay Now", information_path, :class => "btn primary medium" %>
  <% end %>
</p>