<!-- This page is the home page of the site. It displays some of the items present in the system and categories-->

<style type="text/css">
#galleria			{float:left;}
#user_notification   {float:left; margin-left: 50px; }
#ajax_description   {float:left; margin-left: 70px; }
</style>
<script src="galleria/galleria-1.2.5.min.js"></script>

<%= form_tag items_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil , :class => "btn primary small"%>&nbsp;&nbsp;&nbsp;
            <%= link_to "Advanced Search", advsearch_path %>
          </p>

<% end %>

<!-- Lively Homepage images-->

<% if user_signed_in? %>
    <% if current_user.is_seller? %>
        <p class="welcome-text">Offer Items and Mint Money in Minutes !! </p>
    <% else %>
        <p class="welcome-text">Shop, Bid and Celebrate !!</p>
    <% end %>
<% end %>

<div id="galleria"></div>
<div id ="ajax_description"><a href="#"></a></div>

<script>
var data = [
        <% @items.each do |item| %>

        <% if item.is_paid == false %>
        <%
         @currentBid = Bidding.find(:first, :conditions => ["item_id IN (?)", item.id] , :order => 'bid_amount DESC')

        if ( @currentBid != nil )
          @currentPrice = number_to_currency(@currentBid.bid_amount,:unit=>"$")
        else
          @currentPrice = number_to_currency(item.starting_price,:unit=>"$")
        end
        %>


    {
        thumb: '<%= item.photo.url(:small) %>',
        image: '<%= item.photo.url(:large) %>',
        //description: 'item',
        //link: '/items/<%#=item.id%>',

        layer: '<div><a href="/items/<%=item.id%>"><h2><%= item.title%></h2></a><p><%= @currentPrice %></p></div>'

    },
        <%end%>
        <%end%>
];

        Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');


        $("#galleria").galleria({
          width: 500,
          height: 340,
          autoplay: 3000,
          showInfo: false,
          dataSource: data
        });


<!-- for the next iteration WJ : making ajax page-->
//        $("#galleria").mouseover(function(){
//           var item_image = this.getElementsByClassName('active')[0].getElementsByTagName('img')[0];
//            var file = item_image.src.substr(item_image.src.lastIndexOf('/')+1);
//            var filename = file.substr(0,file.indexOf('?')) ;
            //alert(filename);
            //var item_clicked = select * from items where photo_file_name='filename'

            //alert(item_clicked.id);
//            $('#ajax_description').load('./items/1 #ajax_group');
//           return false;
//        });


</script>

<div id ="user_notification">
<% if user_signed_in? %>

    <div class="hero-unit1">
      <h2>Welcome, <%= current_user.first_name %> !</h2>
      <% if current_user.is_seller? %>
          <p> Why delay? Offer your items for bidding :-) </p>
      <% else %>
          <p>Check out the hot items and bid on them :-) </p>
      <% end %>
    </div>

  <!-- show user his/her notifications -->
  
	 	<h2>Your notifications</h2>
		<div class="notifications" id="notifications" data-user-id="<%= current_user.id %>" >
  			<%= render current_user.notifications.find(:all, :conditions=>["delivered=?", true]) %>
 		</div>


<% else %>
        <div class="">
          <h1>Welcome to PeerBidz!</h1>
          <p> Now, checkout the hot items. Register with us to participate in auctions </p>
          <a class="btn primary large" href='<%= items_path %>'>Hot Items »</a>
        </div>
<% end %>
</div>


<!-- row of items -->
<hr>
<div class="row">
  <% @items.each_with_index do |item, i| %>
      <% if item.is_paid == false %>
      <div class="home-item-desc span6">

        <h2 class="heading"><%= item.title %></h2>

        <%= image_tag item.photo.url(:small) %>

        <p><%= item.description %></p>


        <%= link_to 'View Details', item, :class=> 'btn' %>
      </div>
      <% end %>
  <% end %>
</div>


<hr>


<script>
  $(function() {
    var availableTags = [
    <%Item.all.each do |i|%>
      "<%= i.title %>",
    <%end%>

    ];
    $( "#search" ).autocomplete({
      source: availableTags
    });
  });
</script>
