<header>
  <% logo = image_tag("BBW.png", :alt => "Sample App", :class => "round") %>
  <%= link_to logo, root_path %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag :defaults %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
    </ul>
  </nav>
</header>

