<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--added to fix destroy bug-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= render 'layouts/header' %>
      </div>
    </div>
  </div>

  <style type="text/css">
      body {
          padding-top: 60px;
      }
  </style>

</head>
<body>

<div class="container-fluid">
  <div class="sidebar">
    <% if params[:action] == 'home' || params[:action] == 'index' || params[:action] == 'show' %>
        <div class="well">
          <%= render :template => 'pages/categories', :layout => layout_for_my_categories %>
    <% end %>

    </div>

  </div>

  <div class="content">
    <!-- Main hero unit for the home page -->

    <% if notice.present? -%>
        <p class="notice"><%= notice %></p>
    <% end -%>

    <% if alert.present? -%>
        <p class="alert"><%= alert %></p>
    <% end -%>

    <%= yield %>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </div>
</div>
</body>
</html>
