<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--added to fix destroy bug-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= render 'layouts/header' %>
      </div>
    </div>
  </div>

  <style type="text/css">
      body {
          padding-top: 60px;
      }
  </style>

</head>
<body>

<div class="container-fluid">
  <div class="sidebar">
    <div class="well">
      <h5>General Categories</h5>
       <ul>
        <li class="active"><%= link_to "All Items", items_path %></li>
        <li class="active"><%= link_to "Books", items_path(:browse=>Category.find_by_name("Books").id) %></li>
        <li class="active"><%= link_to "Music", items_path(:browse=>Category.find_by_name("Music").id) %></li>
        <li class="active"><%= link_to "Movies", items_path(:browse=>Category.find_by_name("Movies").id) %></li>
      </ul>
      <h5>Electronics</h5>
      <ul>
        <li class="active"><%= link_to "Computers", items_path(:browse=>Category.find_by_name("Computers").id) %></li>
        <li class="active"><%= link_to "Mobile", items_path(:browse=>Category.find_by_name("Mobile").id) %></li>
        <li class="active"><%= link_to "Home", items_path(:browse=>Category.find_by_name("Home").id) %></li>
        <li class="active"><%= link_to "Cameras", items_path(:browse=>Category.find_by_name("Cameras").id) %></li>

      </ul>
      <h5>Fashion</h5>
      <ul>
        <li class="active"><%= link_to "Men", items_path(:browse=>Category.find_by_name("Men").id) %></li>
        <li class="active"><%= link_to "Women", items_path(:browse=>Category.find_by_name("Women").id) %></li>
        <li class="active"><%= link_to "Kids", items_path(:browse=>Category.find_by_name("Kids").id) %></li>
      </ul>

    </div>

  </div>

  <div class="content">
    <!-- Main hero unit for a primary marketing message or call to action -->

    <% if notice.present? -%>
        <p class="notice"><%= notice %></p>
    <% end -%>

    <% if alert.present? -%>
        <p class="alert"><%= alert %></p>
    <% end -%>

    <%= yield %>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </div>
</div>
</body>
</html>
